# This is an example environment file for development.
# It's especially for configuring testing.

SPAMFILTER_TEST_OLLAMA="false"
SPAMFILTER_OLLAMA_MODEL="..."

SPAMFILTER_TEST_ML_CLASSIFIER="false"
# You can may want to use the default model, "facebook/roberta-hate-speech-dynabench-r4-target":
SPAMFILTER_ML_CLASSIFIER_MODEL="..."
